body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #181926;
  color: white;
}

header {
  background: linear-gradient(135deg, #6E1BA6, #774AD9); 
  padding: 20px 0;
}

header a {
  color: white;
  text-decoration: none;
}

main {
  text-align: center;
}

.blog {
  text-align: center;
  width: 80%;
  padding: 100px 0;
}

.container.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  text-align: center;
}

.container-text {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: justify; 
  padding: 20px;
}

.perfil {
  display: flex; 
  align-items: center; 
}

.foto-perfil {
  width: 100px; 
  height: auto; 
  border-radius: 50%; 
  margin-right: 20px; 
}

.info-perfil h1 {
  margin: 0; 
}

.info-perfil p {
  margin: 0; 
}

h1 {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.nav-menu {
  text-align: center;
  list-style-type: none; 
  padding: 0;
  margin: 0; 
  justify-content: center;
  display: flex;                                    
}

.nav-menu li {
  margin-right: 20px; 
}

.nav-menu a {
  color: #1b1b86;  
  text-decoration: none; 
  font-size: 30px;
}

.nav-menu a:hover {
  text-decoration: underline; 
}

.menu-toggle {
  display: none; 
  flex-direction: column;
  cursor: pointer;
  padding: 15px;
  margin-left: auto;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 3px 0;
  transition: all 0.3s ease;
  margin-left: auto;
}

.menu-toggle.active .bar1 {
  transform: rotate(45deg) translate(6.5px, 6.5px); 
}

.menu-toggle.active .bar2 {
  opacity: 0; 
}

.menu-toggle.active .bar3 {
  transform: rotate(-45deg) translate(6.5px, -6.5px); }

section {
  padding: 40px 0;
}

h2 {
  color: #774AD9;
}

.projeto {
  background: linear-gradient(135deg, #6E1BA6, #774AD9); 
  border-radius: 8px; 
  margin-bottom: 20px;
  padding: 15px;
}

.btn {
  display: inline-block;
  background-color: #774AD9;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 8%;
}

.featured-projects h2 {
  text-align: center;
}

.banner {
  position: relative;
}

.banner img {
  width: 100%;
  height: auto;
}

.banner-rotativo {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  animation: slideAnimation 10s infinite;
}

.slide {
  text-align: center;
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.slide img {
  width: 80%; 
  max-height: 300px; 
  object-fit: cover; 
  border-radius: 3%;
}

.text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

@keyframes slideAnimation {
  0% {
      transform: translateX(0%);
  }
  25% {
      transform: translateX(0%);
  }
  30% {
      transform: translateX(-100%);
  }
  55% {
      transform: translateX(-100%);
  }
  60% {
      transform: translateX(-200%);
  }
  85% {
      transform: translateX(-200%);
  }
  100% {
      transform: translateX(0%);
  }
}

footer {
  background: linear-gradient(135deg, #6E1BA6, #774AD9); 
  text-align: center;
  padding: 10px 0;
}

.imagem-flutuante {
  position: fixed; 
  bottom: 20px;    
  right: 20px;     
  width: 80px;    
  height: auto;
  z-index: 1000;   
}


.contact-form-container {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #181926;
}

.service-list {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #181926;
}

.service-list a {
  color: #774AD9; 
  text-decoration: none; 
  display: block; 
  margin-bottom: 10px; 
}

h2 {
  text-align: center;
}

p {
  text-indent: 2em;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 85%;
  padding: 10px;
  margin-bottom: 15px;
  border: solid 1px #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #1b1b86; 
  color: white; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #155a8a; /* Cor ao passar o mouse */
}


.social-media img {
  width: 60px;   
}

@media (max-width: 768px) {
  
  nav {
    border-top: none;
    border-bottom: none;
  }

  .nav-menu {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    position: absolute;
    top: 200px; 
    left: 0;
    z-index: 1; 
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.2s ease-in-out, background-color 0.2s ease-in-out;  
    background-color: rgba(240, 240, 240, 0.9); 
  }

  .nav-menu.active {
    max-height: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex; 
  }

  .nav-menu a {
    color: #6E1BA6; 
    text-decoration: none; 
    padding: 5px 5px; 
    display: block;
  }

  .menu-toggle {
      display: flex; 
      flex-direction: column;
      cursor: pointer;
      padding: 10px 5px;
  }

  .projeto img {
    width: 100%; 
    max-height: 300px; 
    object-fit: cover; 
  }

  .perfil {
    width: 100%;
  }

  .foto-perfil {
    width: 100px; 
    height: auto; 
    border-radius: 50%; 
  }

  h1 {
    font-size: 23px; 
    margin-bottom: 10px; 
  }

  .blog {
    text-align: center;
    width: 100%;
    padding: 100px 0;
  }

  .footer-container {
    flex-direction: flex; 
    align-items: center;
  }

  .contact-info, .links, .social-media {
    width: 100%; 
    margin-bottom: 15px;
  }
  
  .social-media img {
    width: 60px;   
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }

}